[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-ai = "*"
pydantic = "*"
python-dotenv = "*"
httpx = "*"
beautifulsoup4 = "*"
requests = "*"
python-telegram-bot = "*"
ddgs = "*"
sqlmodel = "*"
pytz = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-asyncio = "*"
datasette = "*"

[requires]
python_version = "3.13"

[scripts]
start-cli = "python -m src.gateways.cli.start"
start-telegram = "python -m src.gateways.telegram.start"
dashboard = "datasette storage/db/Hermenecio.db --open"
lint = "ruff check . --fix"
format = "ruff format ."
